<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="canalTurfCrawler" class="model.Hive">
		<constructor-arg type="String" value="config/coursesUrl.xml" />
		<property name="spider" ref="spider"/>
	</bean>
	<bean id="spider" class="model.Spider">
				<property name="listDriverUrlSelector" value="fiche_jockey" />
				<property name="listHorseUrlSelector" value="fiche_cheval" />
				<property name="horseCrawler">
					<bean id="horseCrawler" class="crawler.HorseCrawler">
						<property name="nameSelector" value="la fiche" />
						<property name="age_sexSelector" value="sexe" />
						<property name="fatherSelector" value="père :" />
						<property name="motherSelector" value="mère :" />
						<property name="robeSelector" value="robe" />
						<property name="ownerSelector" value="propriétaire" />
						<property name="coachSelector" value="entraineur" />
						<property name="money_wonSelector" value="gains" />
						<property name="perfSelector" value="perf." />
					</bean>
				</property>
				<property name="driverCrawler">
					<bean id="driverCrawler" class="crawler.DriverCrawler">
						<property name="lastNameSelector" value="la fiche" />	
						<property name="firstNameSelector" value="la fiche" />
					</bean>
				</property>
				<property name="participationCrawler">
					<bean id="participationCrawler" class="crawler.ParticipationCrawler">
						<property name="id_horseSelector" value="table table-striped table-condensed bord-all" />
						<property name="redKmSelector" value="" />
						<property name="horse_numberSelector" value="" />
						<property name="positioningSelector" value="" />
						<property name="ratingSelector" value="" />
					</bean>
				</property>
				<property name="hippodromeCrawler">
					<bean id="hippodromeCrawler" class="crawler.HippodromeCrawler">
						<property name="nameSelector" value="h4" />
						<property name="townSelector" value="" />	
						<property name="countrySelector" value="" />			
						<property name="track_typeSelector" value="" />			
						<property name="lengthSelector" value="" />
					</bean>
				</property>
				<property name="championshipCrawler">
					<bean id="championshipCrawler" class="crawler.ChampionshipCrawler">
						<property name="nameSelector" value="h4" />				
						<property name="challenge_typeSelector" value="" />			
						<property name="price_moneySelector" value="" />	
					</bean>
				</property>
				<property name="raceCrawler">
					<bean id="raceCrawler" class="crawler.RaceCrawler">
						<property name="reunionSelector" value="h4" />
						<property name="num_raceSelector" value="" />
						<property name="dateSelector" value="" />
					</bean>
				</property>
			</bean>
</beans>
	